[Unit]
Description=Electoguard Meter on boot
After=graphical.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/Documents/ElectroguardPi/ElectroguardMeter1a_button.py
Restart=always
RestartSec=10
MemoryLimit=1G

[Install]
WantedBy=default.target
